# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
db.sqlite3
*.egg
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
.vscode/
*.swp
